{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> #}
  <link rel="stylesheet" href="{%static 'css/font-face.css'%}">
  <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/animate.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/owl.carousel.css'%}">
  <link rel="stylesheet" href="{%static 'css/owl.theme.css'%}">
  <link rel="stylesheet" href="{%static 'css/style-1.css'%}">
  <link rel="stylesheet" href="{%static 'css/index-1.css'%}">
	<link rel="stylesheet" href="{%static 'css/furniture.css'%}">
  {# <link rel="stylesheet" href="{%static 'css/core.css'%}"> #}
  {# <link rel="stylesheet" href="{%static 'css/responsive.css'%}">#}
	{# <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> #}
  <script src="{% static 'js/modernizr.custom.12691.js' %}"></script>
{% endblock style %}
