{% load static %}

{% block js %}
	{# <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> #}
	{# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script> #}
	{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script> #}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/index-1.js' %}"></script>
	<script src="{% static 'js/jquery.autocomplete.js' %}"></script>
	<script src="{% static 'js/active.js' %}"></script>
	<script src="{% static 'js/our_search_code.js' %}"></script>
{% endblock js %}
