{% load static %}
<header class="hero-carousel-wrapper hero-area">

    <div id="owl-1" class="owl-carousel">
        <!-- Slide 1-->
        <div class="item">
            <div class="item-img" style="background-image: url('{% static 'img/hero-9.jpg' %}'); "></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-3 col-sm-12 col-sm-push-0 text-center">
                        <div class="header-text">
                            <h2 class="header-heading">We’re Here to Decorate<br> <b>Your Office</b></h2>
                            <h4 class="header-sub-title">expore our priducts & enjoy our services.</h4>
                            <a href="product-1.html" class="btn btn-lg">Explore  <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Slide 1-->
        <!-- Slide 2-->
        <div class="item slide-2">
            <div class="item-img" style="background-image: url('{% static 'img/hero-11.jpg' %}'); "></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-3 col-sm-12 col-sm-push-0 text-center">
                        <div class="header-text">
                            <h2 class="header-heading">We’re Here to Decorate<br> <b>Your Home</b></h2>
                            <h4 class="header-sub-title">expore our priducts & enjoy our services.</h4>
                            <a href="product-1.html" class="btn btn-lg">Explore  <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Slide 2-->
        <!-- Slide 3-->
        <div class="item slide-3">
            <div class="item-img" style="background-image: url('{% static 'img/hero-7.jpg' %}'); "></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-3 col-sm-12 col-sm-push-0 text-center">
                        <div class="header-text">
                            <h2 class="header-heading">We’re Here to Decorate<br> <b>Your Life</b></h2>
                            <h4 class="header-sub-title">expore our priducts & enjoy our services.</h4>
                            <a href="product-1.html" class="btn btn-lg">Explore  <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Slide 3-->
    </div>
</header>
