<form class='form-product-ajax' method='POST' action='{% url "update" %}' data-endpoint='{% url "update" %}' {% if request.user.is_authenticated %}data-user='abc' {% endif %}> {% csrf_token %}
  <input type='hidden' name='furniture_id' value='{{ furniture.id }}' />
  <span class='submit-span'>
    {% if furniture in cart.furnitures.all %}
        <div class='btn-group'> <a class='btn btn-link' href='/carts/'>In cart</a> <button type='submit' class='btn btn-primary'>Remove?</button></div>
    {% else %}
        <a class="btn btn-action {{size}}" role="button"><i class="fa fa-chevron-right"></i> Add to cart</a>
    {% endif %}
    </span>
</form>
